:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(135, 230, 198) !important; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.padding-i {
  padding-inline: 100px;
}

.user-products {
  gap: 20px;
}

.user-products-col {
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: rgba(222, 123, 73, 0.17) 0px 0px 25px 4px inset, rgba(251, 148, 97, 0.15) 0px -36px 30px 0px inset, rgba(241, 128, 91, 0.1) 0px -79px 40px 0px inset, rgba(228, 106, 65, 0.06) 0px 2px 1px, rgb(238 103 50 / 9%) 0px 4px 2px, rgb(211 73 8 / 9%) 0px 8px 4px, rgb(210 62 40 / 9%) 0px 16px 8px, rgb(215 77 38 / 9%) 0px 32px 16px;
}

.user-product-one {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding-inline: 10px;

  span {
    font-size: 13px;
    text-align: left;
    color: #1D2026;
    font-weight: 700;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    text-transform: lowercase;
    color: #586275;
  }
}


.user-product-two {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-inline: 10px;


  span {
    color: rgb(243, 95, 50);
    font-weight: 900;
    font-size: 20px;
  }

  p {
    margin: 0%;
    color: #393e47;
  }
}

.user-products-link {
  display: flex;
  justify-content: center;

  img {
    border-radius: 10px;
    width: 232px;
    height: 200px;
    object-fit: cover;
  }

}

.discountDiv {
  padding-inline: 10px;
}

.discountSpan {
  margin-top: 20px;
  padding: 7px 10px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  background: linear-gradient(90deg, rgba(253, 29, 29, 0.847) 15%, rgba(252, 233, 69, 0.875) 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 1s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 75% 25%;
  }

  50% {
    background-position: 75% 25%;
  }

  75% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.margin-inline-auto {
  margin-inline: auto;
}

.row {
  --bs-gutter-x: 0 rem !important;
}

.deneme {
  text-transform: capitalize !important;
}


/* Product Detail */

.product-detail {
  margin-top: 20px;
  gap: 60px;
}

.p-detail-left {

  border-radius: 15px !important;
  overflow: hidden;

  img {
    height: 500px;
    width: 430px;
    object-fit: cover;
  }
}

.zoom-effect {
  overflow: hidden;
  display: inline-block;
}

.zoom-effect img {
  transition: transform 0.5s ease;
}

.zoom-effect:hover img {
  transform: scale(1.7);
}

.p-detail-right {
  margin-top: 20px;
}

.p-detail-one {
  margin-top: 16px;
  border-radius: 8px;

  span {
    padding: 15px 164px 15px 5px;
    font-size: 28px;
    font-weight: 700;
    color: #393e47;

  }

  p {
    /* margin-top: 24px; */
    padding: 5px 164px 15px 5px;
    font-size: 18px;
    font-weight: 500;
    color: #eb6c27;
  }
}

.p-detail-two {
  margin-top: 20px;
}

.p-detail-two-span {
  padding: 22px 24px;
  background-color: rgb(247, 232, 206);
  border-radius: 8px;

  span {
    font-size: 28px;
    font-weight: 900;
    color: #eb6c27;

  }
}

.p-detail-two-p {
  padding: 22px 24px;
  background: linear-gradient(90deg, rgba(253, 29, 29, 0.847) 15%, rgba(252, 233, 69, 0.875) 100%);
  border-radius: 5px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  animation: animation-one 2s ease infinite;
  background-size: 200% 200%;

  p {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
}

@keyframes animation-one {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.addBasketBtn {
  margin-top: 130px;
  padding: 15px 8px;
  background-color: #dc713f;
  text-align: center;
  border-radius: 15px;

  span {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
  }
}

.gap-10 {

  gap: 60px;
}

/* admin login */

.adminLoginDiv {
  background-color: rgb(255, 217, 196);
}

.adminLogin {

  input {
    padding: 10px 30px;
    background-color: rgb(238, 123, 74);
    border: none;
    border-radius: 5px;
    color: #dc713f;

  }

  input::placeholder {
    color: #ba5d23;
  }

  input:focus {
    outline: none;
    background-color: #fff;
    /* Focus durumunda border'ı yok eder */
  }

  button {
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    color: #eb6c27;
    border-radius: 5px;
  }
}